* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    background: linear-gradient(to bottom, pink , transparent );
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s ease;
     
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color:  black ;
     
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 18px;
    transition: 0.3s ease;
}
 
.nav-links a:hover {
    color: rgb(187, 0, 255);
    text-decoration: underline;
    transform: scale(1.1);
}
 
.scrolled {
    background-color: #222;
    padding: 15px 40px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3);
}
 
.content {
    margin-top: 120px;
    height: 500px;
    background: linear-gradient(to bottom,  #ff92ce, #ffeb86);
    padding: 40px;
    color: white;
}
#About  h1{
    color : rgb(0, 0, 0);
    font-style: italic;
    padding-bottom: 15px;
}
 #Services   h1{
    color : rgb(0, 0, 0);
    font-style: italic;
    padding-bottom: 15px;
} #Contact  h1{
    color : rgb(0, 0, 0);
    font-style: italic;
    padding-bottom: 15px;
}
#About p{
    color : rgb(164, 164, 164);
    font-size: 18px;
    scroll-padding-bottom: 100px;
} #Services p{
    color : rgb(164, 164, 164);
    font-size: 18px;
    scroll-padding-bottom: 100px;
} #Contact p{
    color : rgb(164, 164, 164);
    font-size: 18px;
    scroll-padding-bottom: 100px;
}
section {
    min-height: 100px;
    padding: 100px 40px;
}

.content {
    margin-top: 100px; }
footer {
    background-color: #111;
    color: white;
    padding: 50px 40px 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

.footer-container h3 {
    margin-bottom: 15px;
}

.footer-links ul {
    list-style: none;
}

.footer-links a {
    text-decoration: none;
    color: #ccc;
    transition: 0.3s ease;
}

.footer-links a:hover {
    color: #00f2fe;
}

.footer-bottom {
    text-align: center;
    margin-top: 40px;
    border-top: 1px solid #333;
    padding-top: 20px;
    font-size: 14px;
    color: #aaa;
}
